<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>How did he do?</title>
</head>
<body bgcolor="#0090DA">
<div align="center">
  <div><img src="https://javascriptjohn.files.wordpress.com/2017/06/openbox.png" width="135px" height="149px"> <img src="<%= alienStatus %>" width="135px" height="149px"><a href="http://127.0.0.1:3000/"> <img valign="top" src="https://javascriptjohn.files.wordpress.com/2017/06/tryagain.png" height="25px"></a></div>
</div>
<a href="http://hackreactor.com">
  <img style="position: fixed; top: 0; right: 0; border: 0;" src="http://i.imgur.com/x86kKmF.png" alt="Built at Hack Reactor">
</a>
</body>
</html>