<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<body bgcolor="#0090DA">
  <div align="center">
    <span><img src="https://javascriptjohn.files.wordpress.com/2017/06/box.png" width="135px" height="149px"></span>
    <span><a href="http://127.0.0.1:3000/showResult"> <img valign="top" src="https://javascriptjohn.files.wordpress.com/2017/06/powerbutton.png" height="49px"></a></span>
  </div>
  <a href="http://hackreactor.com">
    <img style="position: fixed; top: 0; right: 0; border: 0;" src="http://i.imgur.com/x86kKmF.png" alt="Built at Hack Reactor">
  </a>
</body>
</html>